# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# Eclipse files
.project
.classpath
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# VS Code
.vscode/

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Maven target directory
target/

# Gradle build directory
build/

# JavaFX related
out/
bin/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific project files
*.ipr
*.iws
*.iml
